%h3 Name
= @internet_request.first_name + ' ' + @internet_request.last_name
%h3 Address
= @internet_request.address
%h3 Email
= @internet_request.email
%h3 Phone Number
= @internet_request.phone_number
%h3 Message
= @internet_request.message
