<div class="col-md-8 col-md-offset-2">
  <h1>Just some basic info, <br/>
    <small>...and we'll be in touch with you shortly!</small>
  </h1>
  <hr/>
  <div class="well">
    <%= bootstrap_form_tag url: '/contact' do |f| %>
        <div class="col-md-12">
        </div>
        <div class="col-md-6">
          <%= f.text_field :first_name, placeholder: 'First Name', layout: :inline %>
        </div>
        <div class="col-md-6">
          <%= f.text_field :last_name, placeholder: 'Last Name', layout: :inline %>
        </div>
        <div class="col-md-12">
          <%= f.text_field :email, placeholder: 'john_doe@gmail.com' %>
        </div>
        <div class="col-md-12">
          <%= f.text_field :phone_number, placeholder: '123-456-7890' %>
        </div>
        <div class="col-md-12">
          <%= f.form_group :skill_level, label: {text: "Plan"}, help: "Thanks for your interest in our service! We look foward to having you as a customer." do %>
              <%= f.radio_button :plan, 0, label: "1.5Mpbs - $39/mo", checked: params[:plan] == '1.5' %>
              <%= f.radio_button :plan, 1, label: "5Mpbs - $49/mo" %>
              <%= f.radio_button :plan, 2, label: "10Mpbs - $59/mo" %>
              <%= f.radio_button :plan, 3, label: "15Mpbs - $69/mo" %>
          <% end %>
        </div>
        <div class="col-md-12">
          <%= f.submit 'Request Internet' %>
        </div>
    <% end %>
    &nbsp;
  </div>
</div>
