.container
  .col-md-5.col-md-offset-1
    %h2
      Phone
      %br/
      %small
        %table.table.table-responsive
          %tr
            %td
              303-642-3858
    %h2
      Office Hours
      %br/
      %small
        %table.table.table-condensed
          %tr
            %td
              Monday - Friday
            %td
              8:30AM - 5PM
          %tr
            %td
              Saturday
            %td
              8:30AM - 12PM
    %h2
      Emails
      %br/
      %small
        %table.table.table-condensed
          %tr
            %td
              Billing
            %td
              = mail_to 'billing@mtnbb.com'
          %tr
            %td
              General support
            %td
              = mail_to 'support@mtnbb.com'
          %tr
            %td
              Technical support
            %td= mail_to 'benjamin@mtnbb.com'
          %tr
            %td
              Company Owner
            %td
              = mail_to 'andy@mtnbb.com'
  #contact-form.col-md-5.col-md-offset-1
    = bootstrap_form_tag url: '/contact' do |f|
      .col-md-12
        %h1 Contact Form
      .col-md-6
        = f.text_field :first_name, placeholder: 'First Name', layout: :inline
      .col-md-6
        = f.text_field :last_name, placeholder: 'Last Name', layout: :inline
      .col-md-12
        = f.text_field :email, placeholder: 'john_doe@gmail.com'
      .col-md-12
        = f.text_field :phone_number, placeholder: '123-456-7890'
      .col-md-12
        = f.text_area :message
      .col-md-12
        = f.submit :Send