<div class="container">
  <div class="col-md-5 col-md-offset-1">
    <h2>Phone <br/>
      <small>
        <table class="table table-responsive">
          <tr>
            <td>
              303-642-3858
            </td>
          </tr>
        </table></small>
    </h2>
    <h2>Office Hours <br/>

      <small>
        <table class="table table-condensed">
          <tr>
            <td>
              Monday - Friday
            </td>
            <td>
              8:30AM - 5PM
            </td>
          </tr>
          <tr>
            <td>
              Saturday
            </td>
            <td>
              8:30AM - 12PM
            </td>
          </tr>
        </table>
      </small>
    </h2>
    <h2>Emails<br/>
      <small>
        <table class="table table-condensed">
          <tr>
            <td>
              Billing
            </td>
            <td> <%= mail_to 'billing@mtnbb.com' %></td>
          </tr>

          <tr>
            <td>
              General support
            </td>
            <td> <%= mail_to 'support@mtnbb.com' %></td>
          </tr>

          <tr>
            <td>
              Technical support
            </td>
            <td><%= mail_to 'benjamin@mtnbb.com' %></td>
          </tr>
          <tr>
            <td>
              Company Owner
            </td>
            <td> <%= mail_to 'andy@mtnbb.com' %></td>
          </tr>
        </table>
      </small>
    </h2>

  </div>
  <div class="col-md-4 col-md-offset-2" id="contact-form">
    <%= bootstrap_form_tag url: '/contact' do |f| %>
        <div class="col-md-12">
          <h1>Contact Form</h1>
        </div>
        <div class="col-md-6">
          <%= f.text_field :first_name, placeholder: 'First Name', layout: :inline %>
        </div>
        <div class="col-md-6">
          <%= f.text_field :last_name, placeholder: 'Last Name', layout: :inline %>
        </div>
        <div class="col-md-12">
          <%= f.text_field :email, placeholder: 'john_doe@gmail.com' %>
        </div>
        <div class="col-md-12">
          <%= f.text_field :phone_number, placeholder: '123-456-7890' %>
        </div>
        <div class="col-md-12">
          <%= f.text_area :message %>
        </div>
        <div class="col-md-12">
          <%= f.submit :Send %>
        </div>
    <% end %>
  </div>
</div>
