<div class="container">
  <div class="col-md-4 col-md-offset-1">
    <h2>Phone Number: <br/>
      <small>303-642-3858</small>
    </h2>
    <h2>Office Hours: <br/>
      <small>Mon-Fri, 8:30am-5pm <br/> Saturday, 8:30am-12pm</small>
    </h2>
  </div>
  <div class="col-md-6">
    <%= bootstrap_form_tag url: '/contact' do |f| %>
        <div class="col-md-12">
        <h1>Contact Form</h1>
        </div>
        <div class="col-md-6">
        <%= f.text_field :first_name, placeholder:'First Name', layout: :inline %>
        </div>
        <div class="col-md-6">
        <%= f.text_field :first_name, placeholder:'Last Name', layout: :inline %>
        </div>
        <div class="col-md-12">
        <%= f.text_field :email, placeholder:'john_doe@gmail.com' %>
        </div>
        <div class="col-md-12">
          <%= f.text_field :phone_number, placeholder:'123-456-7890' %>
        </div>
        <div class="col-md-12">
          <%= f.text_area :message %>
        </div>
        <div class="col-md-12">
          <%= f.submit :Send %>
        </div>
  <% end %>
  </div>
</div>
